.message {
  color: white;
  padding: 0.9rem;
  border-radius: 1.3rem 1.3rem 1.3rem 0.2rem;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 2.3rem;
  background: linear-gradient(98.63deg, #ee9521 0%, #f1662e 100%);
  overflow-wrap: break-word;
  margin-bottom: 1.5rem;
}

.message > span:nth-child(2) {
  /* font-size: 0.7rem; */
  font-size: 1.2rem;
  color: var(--textColor);
  align-self: end;
}

.own {
  align-self: flex-end;
  border-radius: 1.3rem 1.3rem 0.2rem 1.3rem;
  background: linear-gradient(98.63deg, #30b3fa 0%, #358ff9 100%);
}
