@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nunito";
  src: url("fonts/Nunito-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  font-family: "nunito", sans-serif !important;
  background-color: #e9f6ff;
}

/* @media (min-width: 1800px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
} */
